{% extends 'base.html' %}
{% block content %}
	<h2>STOCKSMASH | Ideas </h2>

	<table class="table table-striped table-dark table-sm">
		<thead>
			<tr>
				<th>STOCK SYMBOL</th>
				<th>BUY PRICE</th>
				<th>BUY TIMESTAMP</th>
				<th>TARGET PRICE</th>
				<th>STOP LOSS</th>
				<th>TRADE END DATE</th>
				<th>USER ID</th>

			</tr>
		</thead>
		<tbody>
			{%for idea in object_list %}
			<tr>

				<td><a href="{% url 'ideas:ideasbystock' idea.tickersymbol.tickersymbol %}">{{idea.tickersymbol}}</a></td>
				<td>{{idea.buyprice}}</td>
				<td>{{idea.buytimestamp}}</td>
				<td>{{idea.targetprice}}</td>
				<td>{{idea.stoplossprice}}</td>
				<td>{{idea.tradeenddate}}</td>
				<td>{{idea.user}}</td>
			
			</tr>
				{% endfor %}
		</tbody>
	</table>

{% endblock %}