{% extends 'base.html' %}
{% block content %}
<!-- <h1>Welcome to Stock Smash</h1> -->
<style type="text/css">
	table {
		width:50% !important;
		margin: 0 auto  !important;
	}
</style>
<h3>My Stocks</h3>

<p>Stock Quotes Updated at <i>{{timestamp}}</i></p>

	<table class="table table-md table-bordered">
		<thead>
			<tr>
				<th>STOCK SYMBOL</th>
				<th>PRICE</th>
			</tr>
		</thead>
		<tbody>
			{% for key,value in stockdict.items %}
			<tr>
				<td>{{key}}</td>
				<td>{{value}}</td>

			</tr>
				{% endfor %}
		</tbody>
	</table>

{% endblock  %}