{% extends 'base.html' %}
{% block content %}
<!-- <h1>Welcome to Stock Smash</h1> -->
<style type="text/css">
	table {
		width:50% !important;
		margin: 0 auto  !important;
	}
</style>
<h3>My Stocks</h3>

<p>Stock Quotes Updated at <i>{{timestamp}}</i></p>

	<table class="table table-md table-striped">
		<thead>
			<tr>
				<th>STOCK SYMBOL</th>
				<th>COMPANY</th>
				<th>PRICE</th>
				<th>50 DMA</th>
				<th>200 DMA</th>
				<th>RSI</th>
			</tr>
		</thead>
		<tbody>
			{% for stock in stockdict %}
			<tr>
				{% for key,value in stock.items %}
				<td>{{key}}</td>
				<td>{{value.2}}</td>
				<td>{{value.0}}</td>
				<td>{{value.1.0}}</td>
				<td>{{value.1.1}}</td>
				<td>{{value.1.2}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>




{% endblock  %}